{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Recommend Aptamer
{% endblock %}

{% block content %}
<div class="container">
    <div class="home_pic">
       <img src="{% static 'home/images/졸업하자.png' %}">
    </div>
    <div class="row home_menu">
        <div class="col-3"></div>
        <div class="col-3 home_menu">
            <a href="{% url 'explain:project' %}">Project</a>
        </div>
        <div class="home_menu col-3">
            <a href="{% url 'explain:team' %}">Team</a>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3">
            <a href="{% url 'aptamer:upload' %}">Recommend</a>
        </div>
        <div class="col-3">
            <a href="{% url 'aptamer:success' %}">Recommend Success</a>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}

