{% extends 'home/home.html' %}

{% block title %}
Recommend Success
{% endblock %}

{% block content %}
<h2>Recommend Success</h2>
<p>
    <a href="{% url 'aptamer:upload' %}" class="btn btn-primary">Upload File</a>
</p>
<div class="download">
    <p>{{ aptamer.protein }}</p>
    <a href="{{ aptamer.recommend_file.url }}" class="btn btn-primary btn-sm">
        Download Recommend
    </a>
</div>
<br>
<div class="table-responsive">
    <table class="table">
        <th>th</th>
        <th>recommend</th>
        {% for r,i in e %}
        <tr>
            <td>{{ r }}</td>
            <td>{{ i }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

