{% extends 'home/base.html' %}
{% load static %}

{% block title %}
Explain Project
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Panel Title</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'explain:project' %}">과제 소개</a></li>
                <li class="list-group-item"><a href="{% url 'explain:requirement' %}">요구 분석</a></li>
                <li class="list-group-item"><a href="{% url 'explain:measures' %}">제약 대책</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9 typograhpy">
        <h2>신약개발 후보물질 추천을 위한 머신러닝 기법 설계</h2>
        <h3>현실적 제약 사항 분석 결과 및 대책</h3>
        <h4>현실적 제약 사항</h4>
        <ul>
            <li>단백질- aptamer 결합과 aptamer-protein에 관한 배경지식이 부족하기 때문에 올바른 classifier의 학습이 어려울 수 있다.</li>
            <li>추천하려는 aptamer의 길이가 n이라고 하면 4^n개의 aptamer 서열이 후보가 된다. 만들려는 aptamer 가 길어질수록 후보군이 너무 많아 지기 때문에 프로그램의 계산 시간이 exponential하게 증가할 수 있다.</li>
        </ul>
        <h4>대책</h4>
        <ul>
            <li>관련 논문 등을 참고하여 배경지식을 확보한다.</li>
            <li>현실적으로 너무 많은 cost가 든다면 target protein뿐만 아니라, 후보가 되는 aptamer 서열도 함께 input data로 받은 다음 결합할 확률이 가장 높은 후보군을 추천하도록 한다.</li>
        </ul>
    </div>
</div>
{% endblock %}
