{% extends 'home/base.html' %}

{% block title %}
Explain Team
{% endblock %}


{% block content %}
<h2>지도교수</h2>
<h3>송길태</h3>
<p>전공분야 : 머신러닝, 데이터마이닝, 바이오인포메틱스</p>
<p>사이트 : <a href="http://dmb.pusan.ac.kr">http://dmb.pusan.ac.kr</a></p>

<h2>팀원</h2>
<h3>졸업하자</h3>
<div class="row">
    <div class="col-md-3">
        <h4 class="team">신찬명</h4>
        <ul class="teamEx">
            <li>프로젝트 개발 관리 및 방향성 점검</li>
            <li>머신 러닝 기법 선택 및 설계</li>
            <li>기계학습을 통한 classifier 구현</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="team">김재민</h4>
        <ul class="teamEx">
            <li>후보 물질 추천 웹 서비스 설계 및 구현</li>
            <li>입력 데이터 전처리</li>
            <li>추천 모듈 테스트</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="team">김혜련</h4>
        <ul class="teamEx">
            <li>머신 러닝 기법 선택 및 설계</li>
            <li>Classifier 테스팅 및 generalization</li>
            <li>코드 품질 및 산출물 관리</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 class="team">공통</h4>
        <ul class="teamEx">
            <li>관련 논문 및 자료조사</li>
            <li>웹 개발 관련 스터디</li>
            <li>테스트 및 오류 수정</li>
            <li>설계문서 작성</li>
            <li>발표 심사 및 시연 준비</li>
        </ul>
    </div>
</div>
{% endblock %}

