<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css?after" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


html, body {
    height: 100%;
}

.home_logo {
    text-align: center;
    color: #a0decf;
}

.home_pic {
    text-align: center;
}

.menu {
    text-align: center;
}

.home_menu {
    color: #2c3a2c;
    font-size: 20px;
}

#footer {
    position: relative; bottom: 0px;
    bottom: 0;
    width: 100%;
    color: #2c3a2c;
    background: #a0decf;
    text-align: center;
}

.container{
    position: relative;
    min-height:100%;
    width: 100%;
    margin: 30px;
}

.typograhpy{
}

.introduceImg{
    max-width: 100%;
    height: auto;
}

<!-- explain team -->

.explainTeam {
    color: #a0decf;
}

table {
    width: 100%;
}

.name {
    text-align: center;
}
