<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

html, body {
    background: ;
    height: 100%;
    margin: 0;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #2c3a2c;
    background: #a0decf;
    text-align: center;
}

.container{
    position: relative;
    min-height:100%;
}

.typograhpy{
}

.introduceImg{
    max-width: 100%;
    height: auto;
}

<!-- team CSS -->
.teamEx {
    list-style: none;
    padding-left: 0px;
    border: 5px solid black;
    padding: 10px;
}
.team {
    text-align: center;
}