<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css?after" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


html, body {
    height: 100%;
}

ul.home_menu li {
    list-style: none;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 20px;
}

#footer {
    position: relative; bottom: 0px;
    bottom: 0;
    width: 100%;
    color: #2c3a2c;
    background: #a0decf;
    text-align: center;
}

.container{
    position: relative;
    min-height:100%;
    width: 100%;
    margin: 30px;
}

.typograhpy{
}

.introduceImg{
    max-width: 100%;
    height: auto;
}

<!-- explain team -->

.explainTeam {
    color: #a0decf;
}

table {
    width: 100%;
}

.name {
    text-align: center;
}
